#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
            display-name = "CLMK";
// --------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BSPC |
// | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
// | ESC  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ENT  |
//                    | GUI | LWR | SHFT|   | SPC | RSE  | ALT |
            bindings = <
&kp ESC   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
&kp TAB   &kp A &bhm LCTRL R &bhm LALT S &bhm LGUI T &kp G   &kp M &bhm RGUI N  &bhm RALT E     &bhm RCTRL I   &kp O    &kp SQT
&kp LCTRL &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RET
               &kp LGUI &mo 1 &kp LSHFT  &kp SPACE &mo 2 &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |Studio|
// | ESC  |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SHFT|   | SPC |     | ALT |
            bindings = <
&kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
&kp TAB    &trans       &trans       &trans       &trans       &trans         &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &studio_unlock
&kp LCTRL  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                     &kp LGUI     &trans       &kp LSHFT      &kp SPACE  &trans   &kp RALT
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  `  |  [  |  ]  |  \\  |
// | ESC  |     |     |     |     |     |   |  _  |  +  |  ~  |  {  |  }  |  "|" |
//                    | GUI |     | SHFT|   | SPC |     | ALT |
            bindings = <&kp  ESC  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
&kp TAB   &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp GRAVE &kp LBKT  &kp RBKT &kp BSLH
&kp LCTRL &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp TILDE &kp LBRC  &kp RBRC &kp PIPE

                          &kp LGUI &trans   &kp LSHFT  &kp SPACE &trans    &kp RALT
            >;
        };

        bt_layer {
            display-name = "BT";
// -----------------------------------------------------------------------------------------
// |  ESC |     |     |     |     |     |   |     |     |     |     |     |      |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |Studio|
// | CTRL |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
&kp ESC    &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &studio_unlock
&kp LCTRL  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                     &trans       &trans       &trans         &trans     &trans   &trans
            >;
        };

        tri_layer {
            compatible = "zmk,tri-layer";
            layers = <1 2 3>;
        };
    };
};
