#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AERO 1
#define NAV 2
#define NUM 3
#define SYM 4
#define MEDIA 5
#define SYSTEM 6

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        th: thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        sth: system_thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SYSTEM_THUMB_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <320>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
            display-name = "ANDRW";
// --------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// |  ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ENT  |
//                    | DEL | ESC | BSPC|   | SPC | RET  | TAB |
            bindings = <
&kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
&kp ESC   &bhm LSHFT A &bhm LCTRL S &bhm LALT D &bhm LGUI F &kp G   &kp H &bhm RGUI J  &bhm RALT K     &bhm RCTRL L   &bhm RSHFT SEMI &kp SQT
&kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RET
               &th AERO DEL &th NAV ESC &th NUM BSPC  &th SYM SPACE &th MEDIA RET &sth SYSTEM TAB
            >;
        };

        aero_layer {
            display-name = "AERO";
// -----------------------------------------------------------------------------------------------------
// |      | A+1 | A+2 | A+3 | A+4 | A+5 |   | A+6 | A+7 | A+8 | A+9 | A+0 |      |
// |      |     |     |     |     |     |   | A+L | A+D | A+U | A+R |     |      |
// |      | AS1 | AS2 | AS3 | AS4 | AS5 |   | AS6 | AS7 | AS8 | AS9 | AS0 |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans &kp LA(N1)       &kp LA(N2)       &kp LA(N3)       &kp LA(N4)       &kp LA(N5)       &kp LA(N6)       &kp LA(N7)       &kp LA(N8)       &kp LA(N9)       &kp LA(N0)       &trans
&trans &trans           &trans           &trans           &trans           &trans           &kp LA(LEFT)     &kp LA(DOWN)     &kp LA(UP)       &kp LA(RIGHT)    &trans           &trans
&trans &kp LS(LA(N1))   &kp LS(LA(N2))   &kp LS(LA(N3))   &kp LS(LA(N4))   &kp LS(LA(N5))   &kp LS(LA(N6))   &kp LS(LA(N7))   &kp LS(LA(N8))   &kp LS(LA(N9))   &kp LS(LA(N0))   &trans
                                                   &trans &trans &trans    &trans &trans &trans
            >;
        };

        nav_layer {
            display-name = "NAV";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |LineS| PgDn| PgUp|LineE|     |      |
// |      |     |     |     |     |     |   |Left |Down | Up  |Right|     |      |
// |      |     |     |     |     |     |   |WordL|     |     |WordR|     |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans &trans &trans &trans &trans &trans   &kp LG(LEFT)  &kp PG_DN &kp PG_UP &kp LG(RIGHT) &trans &trans
&trans &trans &trans &trans &trans &trans   &kp LEFT      &kp DOWN  &kp UP    &kp RIGHT     &trans &trans
&trans &trans &trans &trans &trans &trans   &kp LA(LEFT)  &trans    &trans    &kp LA(RIGHT) &trans &trans
                              &trans &trans &trans        &trans    &trans    &trans
            >;
        };

        num_layer {
            display-name = "NUM";
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &trans
&trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans  &trans &trans &trans
            >;
        };

        sym_layer {
            display-name = "SYM";
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// |      |     |     |     |     |     |   |  -  |  =  |  `  |  [  |  ]  |  \   |
// |      |     |     |     |     |     |   |  _  |  +  |  ~  |  {  |  }  |  |   |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &trans
&trans &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp GRAVE &kp LBKT &kp RBKT &kp BSLH
&trans &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp TILDE &kp LBRC &kp RBRC &kp PIPE
                          &trans &trans &trans       &trans    &trans    &trans
            >;
        };

        media_layer {
            display-name = "MEDIA";
// -----------------------------------------------------------------------------------------
// |      |     |Prev |Play |Next |     |   |     |     |     |     |     |      |
// |      |     |Vol- |Mute |Vol+ |     |   |     |     |     |     |     |      |
// |      |     |Bri- |     |Bri+ |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans &trans &kp C_PREV   &kp C_PP   &kp C_NEXT   &trans   &trans &trans &trans &trans &trans &trans
&trans &trans &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &trans   &trans &trans &trans &trans &trans &trans
&trans &trans &kp C_BRI_DN &trans     &kp C_BRI_UP &trans   &trans &trans &trans &trans &trans &trans
                                  &trans &trans &trans      &trans &trans &trans
            >;
        };

        system_layer {
            display-name = "SYSTEM";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |BTCLR| BT1 | BT2 | BT3 | BT4 |   | BT5 |     |     |     |     |Studio|
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
&trans &trans       &trans       &trans       &trans       &trans       &trans       &trans &trans &trans &trans &trans
&trans &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans &studio_unlock
&trans &trans       &trans       &trans       &trans       &trans       &trans       &trans &trans &trans &trans &trans
                                         &trans &trans &trans           &trans       &trans &trans
            >;
        };
    };
};
